body{
    background-color:white;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;

}
/* Header Section */
#main-header{
    background-color: rgb(148, 95, 68);
    color: black;
    width: 100%;
    
}

/* logo */
.logo{
    float: left;
    color: rgb(213, 200, 194);
    text-align: center;
    padding: 6px 16px;
}

/* Nav Bar */
#navbar{
    margin-top:20px ;
    float: right;
}

#navbar ul{
    padding: 0;
    list-style: none;
}

#navbar li{
    display: inline;
    padding: 15px 10px;
    cursor: pointer;
}

#navbar a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 10px;
    cursor: pointer;
}

#navbar a:hover{
    background-color: rgb(255, 255, 255) ; 
    color: black;
}

/*body details*/
#he{
    font-size: 60px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color:rgb(215, 159, 133);
    position: relative;
    padding-left: 25%;
}
#contact{
    font-size: 30px;
    position: relative;
    padding-left: 20%;
    padding-top: 4%;
   
}

img{
    position: relative;
    padding-left: 30%;
    width: 600px;
    
}

/* footer */
#ftr{
    background-color:  rgb(148, 95, 68);
    font-size: 20px;
    color: aliceblue;
    text-align: center;
    padding: 20px;
    margin-top: 200px;

}